name: Swagger Auto Sync To Apifox

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run:  |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run filter and sync
        env:
          SOURCE_SWAGGER_URL: ${{ secrets.SOURCE_SWAGGER_URL }}
          APIFOX_TOKEN: ${{ secrets.APIFOX_TOKEN }}
          REMOVE_TAGS: ""
        run: python scripts/filter_and_sync.py

      - name: Commit swagger if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add swagger_filtered.json
          git commit -m "update filtered swagger" || echo "no changes"
          git push
